body{
	font-family: avenir;
	background: #70e1f5; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #70e1f5 , #ffd194); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #70e1f5 , #ffd194); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#container{
	width: 360px;
	margin: 100px auto;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);

}
h1{
	color: white;
	background-color: steelblue;
	text-transform: uppercase;
	font-weight: normal;
	padding: 10px 20px;
	font-size: 24px;
	margin: 0;
}
ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
li{
	background: white;
	height: 40px;
	line-height: 40px;
}
li:nth-child(2n){
	background: #f7f7f7;
}
li:hover span{
	width: 40px;
	transition: 0.2s linear;
	opacity: 1.0;
}
span{
	background-color: red;
	color: white;
	text-align: center;
	margin-right: 20px;
	height: 40px;
	width: 0px;
	display: inline-block;
	opacity: 0;
}
.fa.fa-plus{
	float: right;
	margin-top: 5px;
	font-size: 30px;
}
.strike{
	color: grey;
	text-decoration: line-through;
}
input{
	padding: 13px 13px 13px 20px;
	width: 100%;
	height: 40px;
	background: #f7f7f7;
	font-size: 18px;
	box-sizing: border-box;
	border: 0px;
}
input:focus{
	background: white;
	border: 3px solid steelblue;
	outline: none;
}